html {
	height: 100%;
}

body {
	display: flex;
		
	height: 100%;

	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #ffffff;
	align-items: center;

	background: url(../images/bg-main.png) repeat;
}

.container {
	position: relative;
	
	width: 100%;
	max-width: 1200px;
	min-height: 80%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;

	background-color: #2f9ab2;
	box-sizing: border-box;
	border: 5px solid #ffffff;
}

.main-header {
	position: absolute;
	top: -49px;

	width: 100%;
	margin: 0;
	
	color: #ffffff;
	font-size: 50px;
	line-height: 1;
	letter-spacing: 5px;
	text-align: center;
}

.intro-block {
	display: block;
}

.intro-block-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	padding-top: 40px;
}

.rules,
.game-setting {
	width: 500px;
}

.rules-title,
.game-setting .title {
	font-size: 26px;
}

.rules p {
	font-size: 20px;
	line-height: 2;
	text-align: justify;
}

.card-back-form {
	display: flex;
	flex-flow: row;
	justify-content: space-between;

	margin-bottom: 50px;
}

.card-back {
	width: 80px;
	height: 100px;

	line-height: 100px;
	text-align: center;

	border: 3px solid #1f5e6d;
	border-radius: 10px;
	background-color: #56c8ea;
}

.card-back img {
	vertical-align: middle;
}

.level-form {
	display: flex;
	flex-flow: row;
	justify-content: space-around;

	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
}

.card-back-form label,
.level-form label {
	cursor: pointer;
}

.card-back-form input[type="radio"],
.level-form input[type="radio"] {
	display: none;
}

.card-back-form input[type="radio"]:checked + .card-back {
	transform: scale(1.3);
}

.level-form input[type="radio"]:checked + span {
	display: inline-block;

	transform: scale(1.6);
}

.card-back-form input[type="radio"]:checked + .card-back:hover {
	border-color: #1f5e6d;
}

.level-form input[type="radio"]:checked + span:hover {
	color: #ffffff;
}

.card-back-form .card-back:hover {
	border-color: #789ea7;
}

.level-form span:hover {
	color: #1f5e6d;
}

.btn {
	display: inline-block;
	width: 300px;
	padding: 15px 45px;
  
  font-size: 26px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.2;
  color: #ffffff;

  background-color: #1f5e6d;
  border: none;
  border-radius: 5px;
}

.btn:hover {
	background-color: #356e7b;
	cursor: pointer;
}

.btn:active {
	background-color: #789ea7;
	border: 2px solid #a5bec4;
  text-shadow: -1px 1px #193047;
}

.btn-new-game {
	margin-top: 80px;
}

.game-block {
	display: none;
}

.game-block-container {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.game-control {
	display: flex;
	flex-flow: row;
	justify-content: space-between;

	margin: 20px;
}

.timer {
	display: flex;
	flex-flow: row;
}

.game-field {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 480px;
	margin: 0 auto;
	margin-bottom: 30px;

	align-items: center;
}

.card-container {
	width: 110px;
  height: 140px;
  margin-bottom: 10px; 
}

.card {
  width: 100%;
  height: 100%;

  border: 3px solid #1f5e6d;
  border-radius: 10px;
	background-color: #56c8ea;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
} 

.card-container:hover {
	transform: scale(1.03);
}

.card div {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  line-height: 140px;
  font-size: 76px;
  vertical-align: middle;
  text-align: center;
  color: #356e7b;

  border-radius: 10px;
  background-color: #56c8ea;
  transform: rotateY( 180deg);
}

.flipped {
  transform: rotateY( 180deg);
}

.hide {
	visibility: hidden;
}

.moon-skirt {
  background-image: url("../images/moon.png");
}

.star-skirt {
  background-image: url("../images/star.png");
}

.space-man-skirt {
  background-image: url("../images/space-man.png");
}

.rocket-skirt {
  background-image: url("../images/rocket.png");
}

.galaxy-skirt {
  background-image: url("../images/galaxy.png");
}

.moon-skirt,
.star-skirt,
.space-man-skirt,
.rocket-skirt,
.galaxy-skirt {
	background-repeat: no-repeat; 
	background-position: center center;
	transform: scale(1.2);
}


.game-over-block {
	display: none;
}

.game-over-block-container {
 	display: flex;
 	flex-flow: column;
 	justify-content: space-around;

 	margin: 0 auto;
 	width: 320px;
 	text-align: center;
}

.win-img {
	margin-bottom: 50px;
}

.game-over-block-container > span {
	margin-bottom: 30px;

	font-size: 26px;
}